body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.2em;
    text-align: center;
}

h1{
    text-transform: uppercase;
    text-decoration: underline;
    color: rgb(32, 116, 32);
}

header p {
    font-style: italic;
}

img {
    border: 2px solid green;
}
h2 {
    color: rgb(77, 13, 13);
}

ul {
    list-style-type: none;
}

h4 {
    color: rgb(124, 78, 9);
    text-decoration: underline;
}

h4:hover {
    color: green;
}